.dingdan{
    border:2px solid;
    margin-left: 0px;
    width: 300px;
    border-radius:20px;
}
.btn{
    border-radius:10px;
}
body{
    background:url('../image/bg-01.jpg') no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
}
