<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style type="text/css">
        @import "../static/css/user.css";
    </style>
    <script type="text/javascript" src="../static/js/user.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<div align="center" class="big_border" style="margin-left: 0px;">
    <p style="font-size:40px">Pizza专区</p>
    <div><img src="../static/image/beef_pizza.jpg" height="200" width="200" /></div>
    <input type="checkbox" name="beef_pizza" value="0">牛肉披萨&nbsp&nbsp&nbsp加料:</input>
    <input type="checkbox" name="beef_pizza" value="1">双倍牛肉</input>
    <div><img src="../static/image/chick_pizza.jpeg" height="200" width="200" /></div>
    <input type="checkbox" name="chick_pizza" value="0">鸡肉披萨</input>
</div>


<div align="center" class="big_border" style="margin-left: 5px;">
    <p style="font-size:40px">小食专区</p>
    <div><img src="../static/image/chip.jpeg" height="200" width="200" /></div>
    <input type="checkbox" name="chip" value="0">薯条</input>
    <div><img src="../static/image/chick_wing.jpeg" height="200" width="200" /></div>
    <input type="checkbox" name="chick_wing" value="0">鸡翅</input>
</div>


<div align="center"  class="big_border" style="margin-left: 5px;">
    <p style="font-size:40px">饮品专区</p>
    <div><img src="../static/image/coke1.jpeg" height="200" width="200" /></div>
    <input type="checkbox" name="coke" value="0">可乐&nbsp&nbsp&nbsp加料:</input>
    <input type="checkbox" name="coke" value="1">加冰</input>
    <div><img src="../static/image/milk.jpeg" height="200" width="200" /></div>
    <input type="checkbox" name="milk" value="0">牛奶&nbsp&nbsp&nbsp加料:</input>
    <input type="checkbox" name="milk" value="1">加巧克力</input>
</div>

<div><input type="text" value="请输入电话号码" id="phone" onclick="ccclick()"></div>
<button onclick="cclick()">提交订单</button>
</body>
</html>